# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# Sistema
.DS_Store
Thumbs.db

# Arquivos locais gerados
outputs/
output/
logs/
*.log

# PDFs e arquivos pesados de teste
scores/pdf/*.pdf
scores/output/
scores/protocols/

# Configurações locais
.env